{% extends "base_layout.html" %}
{% block title %}
    <title>{{ recipe.title }}</title>
{% endblock %}
{% block body %}
    <div>
        <h1>{{ recipe.title }}</h1>
        {% if recipe.quick_meal == True %}
            <b>Quick Recipe</b><br>
        {% endif %}
        <p>
            Date added: {{ recipe.date_added }}<br>
            Author: {{ recipe.user_id }}<br>
        </p>
        <div>
            <p>
            <!-- {{ recipe.image_location }} -->
            Cuisine: {{ recipe.recipe_contents.meal_type }}<br>
            Serving size: {{ recipe.recipe_contents.serving_size }}<br>
            Primary ingredient: {{ recipe.recipe_contents.primary_ingredient }}<br>
            </p>
            <div>
            Ingredients:<br>
            {% for ingredient in recipe.ingredients.all() %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
            </div>
        </div>
        <div>
            <p>
            Recipe:<br>
            {{ recipe.recipe_contents.body }}
            </p>
        </div>
    </div>
{% endblock %}
