<!--
{% extends "base_layout.html" %}
{% block title %}
-->
<head>
  <title>Recipes</title>
</head>
<body>
  <div>
    <table>
      <tr>
        <th>Title</th>
      </tr>
      <% @recipes.each do |recipe| -%>
      <tr>
        <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <td><%= link_to 'edit', edit_recipe_path(recipe) %></td>
            <!-- {{ recipe.image_location }} -->
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</body>
